<% include head %>

<% include navbar %>


<body>
   
        


        <div class="container" >
                <div class="row">
                        <div class="col-md-4" id="crow">
                                <img src="<%=  parsedData.image_url %>"  />
                        </div>
                        <div class="col-md-8">
                          <h2><%= parsedData.title %> </h2>
                          <ul class="list-group">
                              <li class="list-group-item"><strong>Type:</strong> <%= parsedData.type %></li>
                            <li class="list-group-item"><strong>Genre: </strong> <%= parsedData.genres[0].name %></li>
                            <li class="list-group-item"><strong>Released Date: </strong> <%= parsedData.premiered %></li>
                            <li class="list-group-item"><strong>Score:</strong> <%= parsedData.score %></li>
                            <li class="list-group-item"><strong>Number of Episodes:</strong> <%= parsedData.episodes %></li>
                            <li class="list-group-item"><strong>Duration:</strong> <%= parsedData.duration %></li>
                            <li class="list-group-item"><strong>Rating:</strong> <%= parsedData.rating %></li>
                            <li class="list-group-item"><strong>Status: </strong> <%= parsedData.status %></li>

                          </ul>
                        </div>
                      </div>
                      <div class="row">
                        <div class="well text-right" id="#about">

                            <h3 class="text-left">Overview</h3>
                            <div class ="stuff text-left">
                                <%= parsedData.synopsis %>
                           
                            </div>
                            
                        
                          <hr>

                          <a href="<%= parsedData.url %>" target="_blank" class="btn btn-primary" >View on MyAnimeList</a>

                          <a href="/" class="btn btn-success" >Go Back To Search</a>
                       
                        </div>
                      </div>
              </div>
        
</body>

</html>